@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 255 100% 100%;
    /*--primary-foreground: 210 40% 98%;*/
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 10%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url("/porsche2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top, center bottom; /* Flyttar bilden ner */
  }
}

.swiper-pagination-bullet {
  width: 7px !important;
  height: 7px !important;
  background: rgba(255, 255, 255, 0.2);
  scale: 0.9 !important;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: white !important;
  scale: 1 !important ;
}

/* Define the font family */
:root {
  --font-heading-family: "Futura", sans-serif;
  --font-body-family: "SF Mono", Menlo, Consolas, Monaco, Liberation Mono,
    Lucida Console, monospace, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

/* Apply the font family, font weight, and font size to the h1 tag */
h1 {
  font-family: var(--font-heading-family);
  font-weight: 400; /* Font weight 400 */
  font-size: 33px; /* Font size 33px */
}

.new-amsterdam-regular {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Apply text color and font family to paragraphs and divs with class 'font-body' */
p,
.font-body {
  color: rgba(0, 0, 0, 1);
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  /*font-family: var(--font-body-family);*/
}

/* Apply slightly bolder font weight to the 'font-body-bold' class */
.font-body-bold {
  font-weight: 500; /* Slightly bolder font weight */
}

.blurry-background {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.25); /* Fallback color */
  /* Optionally, you can adjust the following properties to control the blur effect */
  /* For example, you can increase or decrease the blur radius */
  /* Or you can change the background color and opacity */
}

.white-background {
  backdrop-filter: blur(8px);
  background-color: rgba(244, 244, 244, 255); /* Fallback color */
  width: max-content;
  /* Optionally, you can adjust the following properties to control the blur effect */
  /* For example, you can increase or decrease the blur radius */
  /* Or you can change the background color and opacity */
}

.h3-background {
  display: inline-block;
  position: relative;
}

.h3-background::before {
  content: "";
  position: absolute;
  top: -0.2rem; /* Adjust to position the square */
  left: -0.2rem; /* Adjust to position the square */
  width: calc(100% + 0.4rem); /* Adjust to cover the text width */
  height: calc(100% + 0.4rem); /* Adjust to cover the text height */
  background-color: rgba(255, 255, 255, 0.5); /* Transparent white */
  border-radius: 0.5rem; /* Adjust border radius as needed */
  z-index: -1;
}

.hover\:scale-101:hover {
  transform: scale(1.01); /* Grows the button slightly on hover */
}

.hover\:scale-103:hover {
  transform: scale(1.03); /* Grows the button slightly on hover */
}

.sheet-content {
  background-color: rgba(244, 244, 244, 1);
}

.star-rating {
  position: relative;
}

.stars {
  display: flex;
  gap: 4px;
}

.rating {
  position: absolute;
  top: 0;
}

section::after {
  content: "";
  display: block;
  height: 30px;
  width: 100%;
  background: inherit; /* This will extend the existing background color */
}

.font-400 {
  font-weight: 400;
}
